<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Gestion <b>Employe</b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a (click)="onOpenDialogClick()" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span>Ajouter un Employe</span></a>
                        <a  (click)="exportAsXLSX()" class="btn btn-secondary"><i class="material-icons" >&#xE24D;</i> <span>Export to Excel</span></a>						
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom Prenom</th>						
                        <th>Role</th>
                        <th>E-mail</th>
                        <th>Entreprise</th>
                        <th>Direction</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employe of listemploye">
                        
                        <td>{{employe.id}}</td>       
                        <td><a>{{employe.nom+" "+ employe.prenom}}</a></td>
                        <td>{{employe.role}}</td>
                        <td>{{employe.email}}</td>
                        <td *ngIf="employe.direction==null">-</td>
                        <td *ngIf="employe.direction!=null">{{employe.direction.entreprise.name}}</td>
                        <td *ngIf="employe.direction==null">-</td>
                        <td *ngIf="employe.direction!=null">{{employe.direction.name}}</td>
                        
                        <td>
                            <a  class="settings" title="Settings" data-toggle="tooltip" (click)="updateEmploye(employe.id)"><i class="material-icons">&#xE8B8;</i></a>
                            <a  class="delete" title="Delete" data-toggle="tooltip" (click)="deleteEmploye(employe.id)"><i class="material-icons">&#xE5C9;</i></a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            
        </div>
    </div>
  </div>     
    
  