<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-5">
                      <h2>Budget <b> Initial</b></h2>
                  </div>
                  <div class="col-sm-7">
                      <a (click)="onOpenDialogClick()" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span>Ajouter budget Initial</span></a>
                      <a (click)="exportAsXLSX()" class="btn btn-secondary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>						
                  </div>
              </div>
          </div>
          <table class="table table-striped table-hover">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Description</th>
                      <th>Categorie</th>						
                      <th>taux Budget</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let BudgetInitial of BudgetInitials">
                      <td>{{BudgetInitial.id}}</td>  
                      <td>{{BudgetInitial.description}}</td>     
                      <td>{{BudgetInitial.name}}</td>
                     
                      <td>{{BudgetInitial.tauxBudget}}</td>
                      <td>
                          <a  class="settings" title="Settings" data-toggle="tooltip" (click)="updateBudgetInitial(BudgetInitial.id)"><i class="material-icons">&#xE8B8;</i></a>
                          <a  class="delete" title="Delete" data-toggle="tooltip" (click)="deleteBudI(BudgetInitial.id)"><i class="material-icons">&#xE5C9;</i></a>
                      </td>
                  </tr>
                  
              </tbody>
          </table>
          
      </div>
  </div>
</div>     
  
