<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" [(ngModel)]="BudgetInitial.name" name="name">
</div>
<div class="form-group">
  <label for="raisonSocial">Description</label>
  <input type="text" class="form-control" id="raisonSocial" [(ngModel)]="BudgetInitial.description" name="description">
</div>
<div class= "col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5 " >
  <button (click)= "ajouterBudgetInitial() " type= "button " class= "btn btn-primary m-t-15 waves-effect " >Add </button >
</div >