<div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom" [(ngModel)]="employe.nom" name="nom">
</div>
<div class="form-group">
    <label for="prenom">Prenom</label>
    <input type="text" class="form-control" id="prenom" [(ngModel)]="employe.prenom" name="prenom">
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" [(ngModel)]="employe.email" name="email">
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" [(ngModel)]="employe.password" name="password">
</div>
<div class="form-group col-md-4">
    <label for="inputState">Role</label>
    <select id="inputState" class="form-control" [(ngModel)]="employe.role">
      <option selected [ngValue]="employe.role">CHEF_DEPARTEMENT</option>
      <option>ADMINISTRATEUR</option>
      <option>INGENIEUR</option>
     
    </select>
  </div>


<div class="form-group">
    <label for="employe">Direction</label>
    <select class="form-control" aria-label="Default select example" [(ngModel)]="selectedDirectionId">
    
        <option *ngFor="let d of directions" [ngValue]="d.id">{{d.name}}</option>
    </select>
</div>
<div class= "col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5 " >
    <button (click)= "addEmploye() " type= "button " class= "btn btn-primary m-t-15 waves-effect " >Update </button >
</div >