<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="direction.name" name="name">
</div>
<div class="form-group">
    <fieldset class="border p-2">
        <legend  class="w-auto">Budget Intial</legend>
        <div class="form-group">
            <label for="nameI">Name</label>
            <input type="text" class="form-control" id="nameI" [(ngModel)]="direction.budgetInitials.name" name="nameI">
        </div>
        <div class="form-group">
            <label for="descriptionI">Descritpion</label>
            <input type="text" class="form-control" id="descriptionI" [(ngModel)]="direction.budgetInitials.description" name="descriptionI">
        </div>
        <div class="form-group">
            <label for="tauxI">Taux</label>
            <input type="number" class="form-control" id="tauxI" [(ngModel)]="direction.budgetInitials.tauxBudget" name="tauxI">
        </div>
    </fieldset>
</div>

<div class="form-group">
    <label for="employe">Entreprise</label>
    <select class="form-control" aria-label="Default select example" [(ngModel)]="selectedEntrepriseId">
    
        <option *ngFor="let e of entreprises" [ngValue]="e.id">{{e.name}}</option>
    </select>
</div>
<div class= "col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5 " >
    <button (click)= "addDirection() " type= "button " class= "btn btn-primary m-t-15 waves-effect " >Add </button >
</div >